*{
    padding: 0;
    margin:0;
}
:root{
    --primary-color:#498172;
    --secondary-color:#000000;
    --text-color:white;
}
body{
    font-family: 'Poppins', sans-serif;
}
div{
    border:0.5px solid transparent;
}
/* ========================Navbar================ */
.link-item{
    display: inline-block;
    color: var(--text-color);
    margin-left: 30px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.header-container{
    background-color: var(--secondary-color);
    display: flex;
    /* padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 105px;
    padding-right: 105px; */
    padding:20px 105px 20px 105px;
    justify-content:space-between;
    position:fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand img{
    height: 40px;
}
.garis{
    cursor:default;
}
.link-item:hover{
    color:#1ab752;
}
.garis:hover{
    color: white;
}
/* =========================Jumbotron section================ */
.jumbotron-container{
    margin-top: 87px;
    padding-left:105px;
    padding-right: 105px;
    background-color: var(--primary-color);
}
.jumbotron-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    
}
.jumbotron-text{
    margin-top: 5px;
}
.jumbotron-image img{
    width: 500px;
    margin-top: 70px;
    margin-right: 140px;
}
.maintext{
    font-size: 90px;
    font-weight: bold;
    color: var(--text-color);
}
.second-text{
    color: var(--text-color);
    margin-top: 35px;
    font-size: 22px;
}
.button{
    margin-top: 40px;
    width: 327px;
    height: 48px;
    border-radius: 48px;
    
    border:none;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.white{
    background-color: white;
    color: #000000;
}
.second{
    margin-top: 15px;
    background-color: transparent;
    color:white;
    border:1px solid white;
    width: 304px;

}
.second:hover{
    transition: 100ms ;
    background-color:white;
    color:#000000;
}
.small-text{
    font-size: 12px;
    color: white;
    text-align: center;
}
/* ============jumbotron2============= */
.jumbotron2-container{
    text-align: center;
    background-color: #9487b4;
    color: white;
}
.jumbotron2-text{
    margin: 73px;
}
.maintext-2{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 34px;
}
.secondtext-2{
    font-weight: bold;
}
.secondtext-2 span{
    text-decoration: underline;
    cursor: pointer;
}
.Comenzar{
    margin-top: 18px;
    width: 193px;
    height: 46px;
    border-radius: 46px;
    
    border:none;
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
}
.service-list{
    display: flex;
    justify-content: center;
}
/* =============jumbotron3================ */
.jumbotron3-container{
    /* padding-left: 327px;
    padding-right: 327px;
    padding-top: 46px; */
    text-align: center;
    justify-content: center;
}
.maintext-3{
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 34px;
}
.list li{
    text-align: left;
    margin-top: 36px;
}
.btn-premium{
    margin-bottom: 24px;
    margin-top: 34px;
    width: 318px;
    height: 48px;
    border-radius: 48px;
    
    border: 1px solid var(--primary-color);
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-color);
    cursor: pointer;
    background-color: white;
}
.btn-premium:hover{
    background-color: var(--primary-color);
    color: white;
    transition: 100ms;
}
.maintext-4{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 56px;
}
.device-container{
    padding-left: 65px;
    padding-right: 105px;
}
.device {
    display: flex;
    justify-content: center;
    /* padding-left: 494px; */
}
.device p{
    margin-left: 38px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: bold
}
.device .pertama{
    /* margin-left: 544px; */
}
/* ===============jumbotron 4=========== */
.jumbotron4-container{
    background-color: #7511db;
    background-image: url(image/lets-play.svg);
    text-align: center;
    color: white;
}
.maintext4{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 25px;
    margin-top: 53px;
}
.btn-free{
    margin-bottom: 37px;
    margin-top: 27px;
    width: 308px;
    height: 48px;
    border-radius: 48px;
    
    border:none;
    font-weight: bold;
    font-size: 14px;
    color: black;
    cursor: pointer;
    background-color: white;
}
/* =============jumbotron 5==================== */
.jumbotron5-container{
    background-color:var(--secondary-color);
    padding:80px 105px 50px 105px;
}
.text-perusahaan1{
    display: flex;
    color: white;
    font-size: 16px;
    margin-bottom: 100px;
    margin-left:0px; 
}
.text-perusahaan2{
    display: flex;
    flex: 3;
    
}
.warna{
    color: white;
}
.text-social{
    display: flex;

    width: 100%;
 
}
.social-container{
    flex: 1;
}
.text-perusahaan{
    margin-right: 71px;

}
.social{

    margin-left: auto;
}
.text{
    width: 171px;
}
.text .main{
    color: #9487b4;
    margin-bottom: 15px;
}
.text .main:hover{
    color: #9487b4;
    cursor: default;
}
.text-perusahaan p{
    margin-bottom: 10px;
}
.text p:hover{
    color: #1ab752;
    cursor: pointer;
}
.tambahan{
    margin-right: 24px;
    font-size: 12px;
    color: #9487b4;
    


}
.contain{
    margin-bottom: 50px;
}
.bulat1{
    border-radius: 50%;
    background-color:rgb(132, 129, 129);
    align-items: center;
    text-align: center;
    font-size: 2em;
    margin-right: 20px;
    width: 50px;

}
.social{
    display: flex;
    width: 100%;
}

.social .bulat1{
    color: white;
}
.social .bulat1:hover{
    color:#1ab752;
    transition: 100ms;
    cursor: pointer;
}
.tambahan .main:hover{
    cursor: pointer;
    color: #1ab752;
}
/* =========for tablet========== */
@media only screen and (max-width:991px){
    .header-container{
        padding:0px 40px 0px 40px;
        height: 52px;
    }
    .brand {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .brand img{
        height: 30px;
    }
    .links{
        display:none;
    }
    .icon{
        color:white;
        width: 100px;
    }
    .icon-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .jumbotron-image{
        display: none;
    }
    .jumbotron-container{
        margin-top: 0px;
        padding-left: 0px;
    }
    .jumbotron-items{
        margin-top:100px;
        margin-left: 40px;
        margin-bottom: 0px;
    }
    .maintext{
        font-size:64px;
        margin-top: 70px;
    }
    .small-text{
        margin-bottom: 200px;
        text-align: left;
        margin-left: 40px;
        margin-top: 15px;
    }
    .jumbotron2-container{
        Padding: 124px 40px 83px 40px; 
    }
    .jumbotron2-text{
        text-align: left;
        margin: 0px;
    }
    .jumbotron3-container{
        padding:0px;
    }
    .device .pertama{
        margin-left: 0px;
    }
    .jumbotron5-container{
        padding: 40px 40px 40px 40px;
    }
    .text-perusahaan1{
        flex-direction: column
    }
    .brand img{
        width: 105px;
    }
    .contain{
        flex-direction: row;
        flex: 1;
        width: 75%;
        
        
    }
    .text-social{
        flex-direction: column;
        width: 100%;
    }
    .bawah{
        flex:0;
        
    }
    .social-container{
        margin-top: 100px;
    }
    .text-perusahaan{
        flex:1;

    }
    .tambahan{
        width: 100%;
        flex: 0;
        margin-right: 20px;
        font-size: 8px;

    }
    .tambahan .main{
        width: 100%;
    }
    .text-perusahaan2{
        display: flex;
    }
    .satu{
        flex: 1;
    }
    .dua{
        flex: 2;
    }
    .terakhir{
        margin-right: 0px;
    }

}
@media only screen and (max-width:700px){
    .button{
        width: 100%;
    }
    .jumbotron-container{
        padding:0px;
    }
    .header-container{
        padding-left:0px;
        
    }
    .jumbotron-items{
        margin-left: 0px;
    }
    .small-text{
        margin-left: 0px;
    }
    .jumbotron2-container{
        padding:104px 0px 63px 0px;
    }
    .Comenzar{
        width:100%;
    }
    .btn-premium{
        width: 100%;
    }
    .device .pertama{
        margin-left: 0px;
    }
    .btn-free{
        width: 100%;
    }
    .margin{
        margin-left: 39px;
    }
}